body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

button {
  width: 250px;
  margin: auto;
  background-color: #C60000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}